.header {
  height: 27rem;
  margin-top: 1rem;
  margin: 0 auto;
  position: relative;
  min-height: 350px;
}

.header_img {
  opacity: 0.5;
}
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  z-index: 99;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* 색상 및 그림자 변화에 대한 애니메이션 효과 */
  box-shadow: none; /* 초기 그림자 없음 */
}
.navbar_white {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 설정 */
}

.nav_content {
  width: 100%;
  max-width: 70rem;
  height: 4rem;
  padding: 1rem 1.5rem;
  margin: 0 auto;
}

.name {
  display: inline-block;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 700;
}

.menu {
  float: right;
  display: flex;
  gap: 2rem;
}

.menu div {
  cursor: pointer;
}

.header_main {
  position: relative;
}

.header_main_content {
  width: 100%;
  margin: 0 auto;
  padding: 10rem 2rem 4rem;
  text-align: center;
}

.header_main_title {
  /* font-family: "Gasoek One", sans-serif; */
  /* font-family: "Noto Sans KR", sans-serif; */
  font-family: "Black Han Sans", sans-serif;
  font-size: 4rem;
}

.menu_active {
  display: block;
}

.hamburger_menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.hamburger_menu div {
  width: 2rem;
  height: 0.25rem;
  background-color: #333;
}

@media all and (min-width: 1024px) {
}

/* phone tablet ~1023px */
@media all and (max-width: 1023px) {
  .navbar {
    background-color: blue;
  }

  .hamburger_menu {
    display: flex;
  }

  .menu_active {
    display: flex;
  }
}
