.projects_wrapper {
  min-height: 100vh;
  width: 100%;
  padding: 4rem 0;
  margin: 0 auto;
  background-color: yellow;
}

.projects_title {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  font-family: "Black Han Sans", sans-serif;
}

.projects_info {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.projects_info_project {
  background-color: beige;
  padding: 2rem 3rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  box-shadow: 1rem 1rem 1rem 0 rgba(68, 68, 68, 0.2);
  min-width: 300px;
}

.projects_info_project_title {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Black Han Sans", sans-serif;
  margin-bottom: 1rem;
}

.projects_info_project_subtitle {
  font-weight: 300;
  font-family: "Black Han Sans", sans-serif;
  color: #444;
  margin-bottom: 3rem;
}

.projects_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.projects_info_detail_title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.projects_info_detail_content {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.15rem;
  font-weight: normal;
}

.red {
  color: #ea3065;
  font-weight: 600;
}

a.projects_info_detail_content {
  text-decoration: underline;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media all and (max-width: 1023px) {
  .projects_info_project {
    padding: 2rem 1.2rem;
  }

  .projects_title {
    font-size: 2.5rem;
  }
}
