.skills_title_text {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  font-family: "Black Han Sans", sans-serif;
}

.skills_wrapper {
  width: 100%;
  padding: 6rem 2rem 4rem;
  margin: 0 auto;
  background-color: tomato;
}

.skills_info {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.skills_info_frontend,
.skills_info_backend,
.skills_info_others {
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  box-shadow: 1rem 1rem 1rem 0 rgba(68, 68, 68, 0.2);
  min-width: 300px;
}

.skills_info_frontend:hover,
.skills_info_backend:hover,
.skills_info_others:hover {
  transform: translateY(-0.5rem);
  transition: ease-in-out 0.3s;
}

.skills_info_frontend_title,
.skills_info_backend_title,
.skills_info_others_title {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Black Han Sans", sans-serif;
  margin-bottom: 2rem;
}

.skills_info_frontend_content,
.skills_info_backend_content,
.skills_info_others_content {
  display: flex;
  justify-content: space-between;
}

/* phone tablet ~1023px */
@media all and (max-width: 1023px) {
  .skills_title_text {
    font-size: 2.5rem;
  }

  .skills_info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skills_info_frontend,
  .skills_info_backend,
  .skills_info_others {
    text-align: center;
    width: 100%;
    max-width: 600px;
  }

  .skills_info_frontend_title,
  .skills_info_backend_title,
  .skills_info_others_title {
    font-size: 2rem;
    font-weight: 400;
    font-family: "Black Han Sans", sans-serif;
    margin-bottom: 3rem;
  }

  .skills_info_frontend_content,
  .skills_info_backend_content,
  .skills_info_others_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
}
